In [15]:
import pandas as pd
import seaborn as sns
import numpy as np

survey_data = pd.read_csv('young-people-survey-responses.csv')

# Preprocessing and Exploratory Data Analysis 

## Part 1:

1. **Dataset Overview**
   - Report dimensions (rows Ã— columns)
   - Table showing first 5-10 rows
   - Summary of data types

2. **Initial Data Quality**
   - Identify the target variable (what we are trying to predict)
   - Summary table of missing values per column

> Suggested Figures: Sample data table, target distribution bar chart

In [16]:
# Part 1

print('Dataset shape:',survey_data.shape[0],'x',survey_data.shape[1],'columns')

survey_data.info()

survey_data.head()

Dataset shape: 1010 x 16 columns
<class 'pandas.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1010 non-null   int64
 1   Music            1007 non-null   float64
 2   Techno           1003 non-null   float64
 3   Movies           1004 non-null   float64
 4   History          1008 non-null   float64
 5   Mathematics      1007 non-null   float64
 6   Pets             1006 non-null   float64
 7   Spiders          1005 non-null   float64
 8   Loneliness       1009 non-null   float64
 9   Parents' advice  1008 non-null   float64
 10  Internet usage   1010 non-null   str
 11  Finances         1007 non-null   float64
 12  Age              1003 non-null   float64
 13  Siblings         1004 non-null   float64
 14  Gender           1004 non-null   str
 15  Village - town   1006 non-null   str
dtypes: float64(12), int64(1), str(3)
memory usage: 126.4 KB

,Unnamed: 0,Music,Techno,Movies,History,Mathematics,Pets,Spiders,Loneliness,Parents' advice,Internet usage,Finances,Age,Siblings,Gender,Village - town
0,0,5.0,1.0,5.0,1.0,3.0,4.0,1.0,3.0,4.0,few hours a day,3.0,20.0,1.0,female,village
1,1,4.0,1.0,5.0,1.0,5.0,5.0,1.0,2.0,2.0,few hours a day,3.0,19.0,2.0,female,city
2,2,5.0,1.0,5.0,1.0,5.0,5.0,1.0,5.0,3.0,few hours a day,2.0,20.0,2.0,female,city
3,3,5.0,2.0,5.0,4.0,4.0,1.0,5.0,5.0,2.0,most of the day,2.0,22.0,1.0,female,city
4,4,5.0,2.0,5.0,3.0,2.0,1.0,1.0,3.0,3.0,few hours a day,4.0,20.0,1.0,female,village

In [ ]:
#  Part 2

print("We are trying to predict the Loneliness score based on the other features in the dataset.")

for column in survey_data.columns:
        nan_amount = survey_data[column].isna().sum()
        print(f"Column '{column}' has {nan_amount} missing values.")

We are trying to predict the Loneliness score based on the other features in the dataset.
Column 'Unnamed: 0' has 0 missing values.
Column 'Music' has 3 missing values.
Column 'Techno' has 7 missing values.
Column 'Movies' has 6 missing values.
Column 'History' has 2 missing values.
Column 'Mathematics' has 3 missing values.
Column 'Pets' has 4 missing values.
Column 'Spiders' has 5 missing values.
Column 'Loneliness' has 1 missing values.
Column 'Parents' advice' has 2 missing values.
Column 'Internet usage' has 0 missing values.
Column 'Finances' has 3 missing values.
Column 'Age' has 7 missing values.
Column 'Siblings' has 6 missing values.
Column 'Gender' has 6 missing values.
Column 'Village - town' has 4 missing values.